.font-link {
    font-family: 'Rubik', sans-serif;
}
.font-passion{
    font-family: 'Passion One', cursive;
}

*{
    margin: 0;
    padding: 0;

}
.cover{
    height: 76vh;
}
.navcolor{
    background-color: #e45414;
}
.xenlogo{
    width: 15%;
}
.dark-overlay {
    background-color: rgba(0, 0, 0, .70);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.font-size{
    font-size: 50px;
}
.centering{
    height: 45vh;
}
.font-size{
    font-size: 40px;
}
.welimg{
    height: 79vh;
}
.welimg:hover {
    transform: scale(1.02);
    transition: .5s;
}
.intro{
    padding-top: 10%;
}
.title-welcome{
    margin-bottom: 20px;
    margin-top: 15vh;
}

.welcome-page{
    height: 91.9vh;
}


.parent{
    position: relative;
    width: 90%;
    height: 66.77vh;
    margin: 90px;
    display: block;
}
.child{
    position: absolute;
    display: block;
}
.one{
    left: 40vw;
    height: 75vh;
    width:50vw;
    top: 0vh;
    background-color: #e45414;
}
.two{
    left: 0;
    top:10vh;
    height: 55vh;
    width: 50%;
    background-image: url("img/facilities.jpg");
}

.two:hover {
    transform: scale(1.05);
    transition: 1s;
}

.text-width{
    width: 47%;
    text-align: justify;
    margin: 19vh 13vw;
    color: azure;
}
.title-facilities{
    font-size: 60px;
    text-align: left;
}
.bg-gray{
    background-color: #ccccc5;
}

.text-main{
    color:#e45414;
}

.xenia-icons{
    width: 20%;
}

.xenia-icons:hover {
    transform: scale(1.3);
    transition: 1s;
}
.title-amenities{
    width: 10px;
}
.text-ame-body{
    width: 35%;
    margin:0vh 31.3vw;
}
.review-container{
    height: 82.5vh;
}
.review-page{
    width: 100%;
    height: 20vh;
}
.review-img{
    width: 10vw;
    height: 20vh;
}
.review-body{
    height: 80vh;
    width: 60%;
    text-align: justify;
}
.review-body-text{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5vh 5vw;
    border-radius: 40px;
    margin-bottom: 0;
    position: relative;
    height: 35vh;
}
.join-text{
    position:absolute;
    margin: 0;
    padding: 0;
}
.right-text{
    padding-left: 20px;
    padding-right: 100px;
}
.left-text{
    font-size: 80px;
    margin-top: -20px;
    margin-left: -10px;
    opacity: .50;
}

.triangle-down {
	width: 0;
	height: 0;
    padding-bottom: 25px;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid rgba(0, 0, 0, 0.5);
}
.line-navbar {
    list-style: none;
    margin: 0 auto;
    padding: 0 0 4px 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  
  .line-navbar li { 
    display: inline-block; 
    border-right: 1px solid #ccc;
    margin: 5px 0;
  }
  
  .line-navbar li:last-of-type { 
    border-right: none; 
  }
  
  .line-navbar a {
    display: block;
    padding: 0 15px;
    text-decoration: none;
    color: #e45414;
    font: 1em Helvetica, Arial, sans-serif;
    text-transform: uppercase;
  }
  
  .line-navbar a:hover {
    color: #000;
  }


@media only screen and (max-width: 600px) {
    *{
        padding: 0;
        margin: 0;
    }
    .xenlogo{
        width: 40%;
    }
    .centering{
        height: 55vh;
    }
    .parent{
        margin: 0vh 2vw;
        position: relative;
        height: 105vh;
    }
    .child{
        width: 80vw;
        background-color: dimgray;
        position: static;
    }
    .one{
        width: 92vw;
        background-color: #e45414;
        margin-bottom: 10px;
        height: 50vh;
    }
    .two{
        width: 92vw;
        background-color: dimgray;
        height: 50vh;
    }
    .welimg{
        padding: 0;
        margin: 0;
    }
    .text-width{
        margin: 0vh 12vw;
        width: 70%;
        padding-top: 9vh;
    }
    .title-facilities{
        text-align: left;
        font-size: 40px;
    }
    .text-ame-body{
        width: 60%;
        margin:0vh 18.5vw;
    }

    .welcome-page{
        height: 190vh;
    }
    
    .title-welcome{
        margin-bottom:0;
        margin-top: 12vh;
    }
    .welimg{
        margin-top: 17vh;
        height: 86vh;
    }
    .text-justify{
        text-align: justify;
    }
    .review-img{
        width: 21vw;
        height: 17vh;
    }
    .review-page{
        width: 100%;
        height: 30vh;
    }
    .review-img{
        width: 25vw;
        height: 17vh;
    }
    .review-body{
        height: 85vh;
        width: 70%;
        text-align: justify;
    }
    .review-body-text{
        margin-bottom: 0vh;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 5vh 7vw;
        border-radius: 40px;
        font-size: 20px;
    }
    .review-container{
        height: 93.5vh;
    }
    .right-text{
        font-size: 14px;
        margin-left: 15px;
        width: 109%;
    }
    .triangle-down {
        width: 0;
        height: 0;
        padding-bottom: 20px;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 50px solid rgba(0, 0, 0, 0.5);
    }
}